.slider-container {  
  flex-grow: 1;

  .slider {
    display: flex;
    flex: 1 1;
    min-width: fit-content;
    input[type=range] {
      flex: 1;
      width: 100%;
      &::-webkit-slider-runnable-track {
        border-radius: 10px;
        background-color: rgba(48, 51, 61, 1);
        border: rgba(21, 24, 30, 1) 0.4vmin solid;
      }
    }
    p {
      font-size: 1.3vmax;
      width: 2.6vmin;
      margin: auto 1.3vmin;
    }
  }

  label {
    font-weight: 700;
    font-size: 2.5vmax;
  }
}